.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background: #111827;
  position: relative;
}

.logo {
  font-size: 28px;
  color: white;
}

.sideLogo {
  font-size: 14px;
  color: white;
}

.searchBar {
  color: white;
}

.signIn {
  color: white;
}

.cart {
  color: white;
}
